.topbar {
    display: flex;
    justify-content: space-between;
}

.topbar button {
    height: fit-content;
}

.actions {
    padding: 0.2em;
    border-top: 1px solid #eee;
    margin-bottom: -1rem;
}

.actions svg {
    padding: .2em;

}

.actions svg:hover {
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}

.title {}

.description{
    background: #eee;
    padding: 0.3em;
    margin-bottom: .5em;
}
.category{
    /* color: #aaa; */
    /* font-size: .9em; */
}
.tags{
    display: flex;
    gap: .5em;
    text-wrap: nowrap;
    flex-wrap: wrap;
}
.tag{
    padding: 0.1em .5em;
    background-color: var(--info-light-color);
    border-radius: 1em;
    color: #fff;
}

.readMore{
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: .9em;
    color: #777;
    font-weight: 400;
}